---
- name: Install system prerequisites
  become: yes
  apt:
    name:
      - build-essential
      - git
      - cmake
      - ninja-build
      - libssl-dev
      - make
      - pkg-config

- name: Clone liboqs {{ liboqs_version }} repository
  become: yes
  git:
    repo: https://github.com/open-quantum-safe/liboqs.git
    dest: "/opt/liboqs"
    version: "{{ liboqs_version }}"
    depth: 1

- name: Build liboqs with CMake
  become: yes
  shell: |
    cd /opt/liboqs
    cmake -S . -B build -DBUILD_SHARED_LIBS=ON -DCMAKE_INSTALL_PREFIX=/opt/liboqs
    cmake --build build --parallel 4
    cmake --build build --target install

- name: Update library cache
  become: yes
  command: ldconfig
