---
- name: Clone liboqs-go {{ liboqs_go_version }} repository
  git:
    repo: https://github.com/open-quantum-safe/liboqs-go.git
    dest: "{{ ansible_user_dir }}/liboqs-go"
    version: "{{ liboqs_go_version }}"
    depth: 1

- name: Configure pkg-config path
  lineinfile:
    path: "{{ ansible_user_dir }}/.bashrc"
    line: "export PKG_CONFIG_PATH=/usr/local/lib/pkgconfig:{{ ansible_user_dir }}/liboqs-go/.config"
    create: yes
    state: present

- name: Configure LD_LIBRARY_PATH
  lineinfile:
    path: "{{ ansible_user_dir }}/.bashrc"
    line: "export LD_LIBRARY_PATH=/usr/local/lib"
    create: yes
    state: present
