---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - qubesec.io
  resources:
  - quantumcertificates
  - quantumdecapsulatesecrets
  - quantumderivedkeys
  - quantumencapsulatesecrets
  - quantumkemkeypairs
  - quantumrandomnumbers
  - quantumsignaturekeypairs
  - quantumsignmessages
  - quantumverifysignatures
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - qubesec.io
  resources:
  - quantumcertificates/finalizers
  - quantumdecapsulatesecrets/finalizers
  - quantumderivedkeys/finalizers
  - quantumencapsulatesecrets/finalizers
  - quantumkemkeypairs/finalizers
  - quantumrandomnumbers/finalizers
  - quantumsignaturekeypairs/finalizers
  - quantumsignmessages/finalizers
  - quantumverifysignatures/finalizers
  verbs:
  - update
- apiGroups:
  - qubesec.io
  resources:
  - quantumcertificates/status
  - quantumdecapsulatesecrets/status
  - quantumderivedkeys/status
  - quantumencapsulatesecrets/status
  - quantumkemkeypairs/status
  - quantumrandomnumbers/status
  - quantumsignaturekeypairs/status
  - quantumsignmessages/status
  - quantumverifysignatures/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - qubesec.io
  resources:
  - quantumsharedsecrets
  verbs:
  - get
  - list
  - watch
