---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - qubesec.io
  resources:
  - quantumcertificates
  - quantumderivedkeys
  - quantumkemkeypairs
  - quantumrandomnumbers
  - quantumsharedsecrets
  - quantumsignaturekeypairs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - qubesec.io
  resources:
  - quantumcertificates/finalizers
  - quantumderivedkeys/finalizers
  - quantumkemkeypairs/finalizers
  - quantumrandomnumbers/finalizers
  - quantumsharedsecrets/finalizers
  - quantumsignaturekeypairs/finalizers
  verbs:
  - update
- apiGroups:
  - qubesec.io
  resources:
  - quantumcertificates/status
  - quantumderivedkeys/status
  - quantumkemkeypairs/status
  - quantumrandomnumbers/status
  - quantumsharedsecrets/status
  - quantumsignaturekeypairs/status
  verbs:
  - get
  - patch
  - update
