apiVersion: qubesec.io/v1
kind: QuantumDerivedKey
metadata:
  labels:
    app.kubernetes.io/name: quantumderivedkey
    app.kubernetes.io/instance: quantumderivedkey-from-encapsulated
    app.kubernetes.io/part-of: qubesec
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: qubesec
  name: quantumderivedkey-from-encapsulated
spec:
  # Reference to the QuantumEncapsulateSecret that contains the shared secret
  sharedSecretRef:
    name: quantumencapsulatesecret-sample
    namespace: default
  
  # Type of key to derive (AES-256 for encryption, etc.)
  keyType: AES-256
  
  # Optional: Salt for HKDF (hex-encoded)
  # If not provided, an empty salt is used for deterministic derivation
  # To get the same key every time, use the same salt (or leave empty)
  salt: ""
  
  # Optional: Info for HKDF (hex-encoded)
  # If not provided, empty info is used
  info: ""
  
  # Optional: Name of secret to store the derived key in
  # If not provided, a secret will be created with a generated name
  secretName: quantumderivedkey-from-encapsulated-aes256
