apiVersion: qubesec.io/v1
kind: QuantumRandomNumber
metadata:
  labels:
    app.kubernetes.io/name: quantumrandomnumber
    app.kubernetes.io/instance: quantumrandomnumber-sample
    app.kubernetes.io/part-of: qubesec
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: qubesec
  name: quantumrandomnumber-sample
spec:
  # Number of bytes to generate
  bytes: 64
  # Possible values are "system" or "OpenSSL"
  algorithm: OpenSSL
  # openssl rand -base64 35
  # We need minimum 48 bytes for 256 bit key
  seed: 4vlsXDJD8pxXy0WNpiz10EwlVfEDy9QkObmRbR52OxRUhjY=
  # We accept hex data as seed which will be converted to bytes array
  seedURI: http://quantum-random-seed.default.svc.cluster.local/?bytes=34
  # Optional custom secret name for the generated random value
  secretName: quantumrandomnumber-sample-data
