apiVersion: qubesec.io/v1
kind: QuantumDecapsulateSecret
metadata:
  labels:
    app.kubernetes.io/name: quantumdecapsulatesecret
    app.kubernetes.io/instance: quantumdecapsulatesecret-sample
    app.kubernetes.io/part-of: qubesec
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: qubesec
  name: quantumdecapsulatesecret-sample
spec:
  privateKeyRef:
    name: quantumkemkeypair-sample
    namespace: default
  ciphertext: ""
  ciphertextRef:
    name: quantumencapsulatesecret-sample
    namespace: default
  algorithm: ML-KEM-1024
  secretName: decapsulated-shared-secret
