apiVersion: qubesec.io/v1
kind: QuantumEncapsulateSecret
metadata:
  labels:
    app.kubernetes.io/name: quantumencapsulatesecret
    app.kubernetes.io/instance: quantumencapsulatesecret-sample
    app.kubernetes.io/part-of: qubesec
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: qubesec
  name: quantumencapsulatesecret-sample
spec:
  # Reference to the QuantumKEMKeyPair that contains the public key
  publicKeyRef:
    name: quantumkemkeypair-sample
    namespace: default
  # The controller will read the KEM public key from the secret named in that KEM's spec.secretName
  # (or from the KEM resource name if secretName is not set).
  
  # Algorithm must match the KEM algorithm used in the referenced KeyPair
  algorithm: ML-KEM-1024
  
  # Optional: Name of secret to store the shared secret in
  # If not provided, a secret will be created with a generated name
  secretName: encapsulated-shared-secret
